body {
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
    font-family: 'TT Lakes';
    font-weight: normal;
    font-style: italic;
    box-sizing: border-box;
}
h2{
   display: inline-block;
   padding-left: 20px;
   font-size: 28px;
}
h2::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    border: 2px solid #41F6D7;
    margin-left: -20px;
    margin-top: -4px;
    background-color: #41F6D7;
    border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    -ms-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
}

.header__left{
    display: flex;
    justify-content: space-between;
    flex-grow: .1;
    align-items: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}
.header__logo {
    margin-left: 10px;
    cursor: pointer;
}
.header__right {
    display: flex;
    justify-content: flex-end;
    flex-grow: .2;
}
.header__right :nth-child(1){
    margin-right: 10px;
}
.header__active  {
    display: none;
}
.main {
    background-color: #F8F8F8;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    background-color: #FF3E79;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.menu__open img {
    margin: 0 auto;
}

.main__subtitle {
    order: -1;
    padding: 10px 10px 0 20px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    font-weight: 500;
}
.main__slider {
    display: flex;
    justify-content: flex-start;
    overflow: scroll;
    padding: 20px 10px;
}

.main__slideItem {
    min-width: 80%;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid transparent;
    cursor: pointer;
    color: #7E7E82;
    transition: .3s;
    padding: 5px;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.main__slideItem:hover {
    transition: .3s;
    border: 3px solid #B8FFEC;
    background-color: #fff;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.main__slideItem_active {
    border: 3px solid #B8FFEC;
    background-color: #fff;
}
.main__infoBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}
.main__laptop {
    display:none;
}
.main__pc {
    display: none;
}
.main__p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}
.main__buttonRead {
    order: -1;
    margin: 15px 0 15px 10px;
    cursor: pointer;
}
.main__read {
    margin-left: 20px;
    font-weight: 500;
    
}
.main__img {
    margin-top: 20px;
}

@media(min-width:768px){
    body{
        min-width: 768px;
    }
    .main__infoBlock {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .main__subtitle {
        align-self: flex-start;
        flex-grow: 1;
        width: 50%;
        font-size: 16px;
    }
    .main__laptop {
        display: block;
    }
    .main__img {
      align-self: flex-end;
      flex-grow: 1;
    }
   
    .main__buttonRead {
       order: 1;
       margin: -30px 0 0 30px;
    }
    .main__slider{
        justify-content: flex-start;
    }
    .main__slideItem {
        min-width: 240px;
    }
}
@media(min-width:1120px){
    body{
        min-width: 1120px;
    }
    .header__right {
        justify-content: space-between;
    }
    
    .icon {
        display: flex;
        justify-content: center;
    }
    
    .header__active  {
        display: block;
        position: absolute;
        margin-left: -190px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21;
        font-weight: 500;
    }
    .main__pc {
        display: block;
    }
    .main__subtitle {
        width: 60%;
    }
    .main__slider {
        justify-content: space-evenly;
        overflow: hidden;
    }
    .main__slideItem {
        min-width: 200px;
    }
}
